@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: gray;
  background: lightblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#contact input[type="text"],
#contact button[type="submit"] {
  font: 500 "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: white;
  padding: 25px;
  margin: 100px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  color: black;
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: rgb(83, 78, 78);
}

#contact input[type="text"] {
  width: 100%;
  border: 1px solid black;
  background: white;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid black;
}

#contact button[type="submit"] {
  cursor: pointer;
  text-align: center;
  width: 70%;
  border: none;
  background: orange;
  color: white;
  margin: 0 0;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}

#contact button[type="submit"]:hover {
  background: green;
}

#contact input:focus {
  outline: 0;
  border: 1px solid black;
}

input {
  box-sizing: border-box;
  color: black;
  margin: 0 5px;
  text-align: center;
  border: solid 1px black;
  box-shadow: 0 0 5px gray;
  outline: none;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  height: 40px;
  width: 13% !important;
}
